.app {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

.title {
  text-align: center;
  font-size: 2.2rem;
  margin: 0;
  padding-bottom: 10px;
  font-weight: 700;
  color: #1a1a1b;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .title {
    font-size: 1.6rem;
    padding-bottom: 5px;
  }
}